.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
}

header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

nav {
  grid-column: 1/-1;
  grid-row: 2/3;
}

footer {
  grid-column: 1/-1;
  grid-row: 3/4;
}

li {
  float: left;
}

@media screen and (max-width: 600px) {
  header {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  nav {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  footer {
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  li {
    float: none;
  }
}
