.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
}

header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

nav {
  grid-column: 1/-1;
  grid-row: 2/3;
}

section {
  grid-column: 1/4;
  grid-row: 3/6;
}

 .a{
  grid-column: 4/7;
  grid-row: 3/6;
}

.b{
  grid-column: 1/4;
  grid-row: 6/9;
}

.c{
  grid-column: 4/7;
  grid-row: 6/9;
}

.d{
  grid-column: 1/4;
  grid-row: 9/12;
}

.e{
  grid-column: 4/7;
  grid-row: 9/12;
}

footer {
  grid-column: 1/-1;
  grid-row: 12/16;
}

li {
  float: left;
}

@media screen and (max-width: 1100px) {
  section {
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  .a {
    grid-column: 1/-1;
    grid-row: 4/5;
  }

  .b {
    grid-column: 1/-1;
    grid-row: 5/6;
  }

  .c {
    grid-column: 1/-1;
    grid-row: 6/7;
  }

  .d {
    grid-column: 1/-1;
    grid-row: 7/8;
  }

  .e {
    grid-column: 1/-1;
    grid-row: 8/9;
  }

  footer {
    grid-column: 1/-1;
    grid-row: 9/10;
  }

  li {
    float: left;
  }
}
